article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

h1,
h2,
p,
.startButton,
.leaderboard {
  margin: 0;
  color: aliceblue;
  font-size: 1.5rem;
  font-family: 'Stylish', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h1 {
  font-size: 8rem;
  text-shadow: 10px 10px black; }

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.startButton {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: relative;
  background: yellow;
  color: red; }

main,
.wrapper,
.title-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  width: auto;
  height: calc(100vh - 30px);
  background-image: url(../assets/images/20085203.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  position: relative; }

footer {
  height: 30px;
  background: darkslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  footer p {
    font-size: 1rem; }

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

h1,
.timer {
  text-align: center; }

.runner {
  width: 200px;
  height: 250px;
  background-image: url("../assets/images/Idle.png");
  background-size: 300px;
  background-repeat: no-repeat; }

.countdown {
  font-size: 1.25rem;
  -webkit-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in; }

.font-expand {
  font-size: 4rem; }

.visibility {
  visibility: hidden; }

.your-time {
  display: none; }

.title-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(35, 41, 44, 0.7);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .title-screen h1,
  .title-screen p {
    color: aliceblue; }

.countdown {
  text-shadow: 2px 2px black; }

.timer,
.your-time {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 2px; }

.submitTime {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px; }

.leaderboard {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px; }

@media (max-width: 700px) {
  h1 {
    font-size: 4rem;
    text-shadow: 5px 5px black; } }

@media (max-width: 500px) {
  footer {
    display: none; }
  main {
    height: 100vh; } }
