@import 'setup';

// main styles
h1,
h2,
p,
.startButton,
.leaderboard {
    margin: 0;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Stylish', sans-serif;
    user-select: none;
}

h1 {
    font-size: 8rem;
    text-shadow: 10px 10px black;
}

img {
    @include width-height(100%, 100%);
    object-fit: contain;
}

.startButton {
    @include width-height(110px, 110px);
    border-radius: 50%;
    position: relative;
    background: yellow;
    color: red;
}

main,
.wrapper,
.title-screen {
    display: flex;
    flex-direction: column;
}

main {
    @include width-height(auto, calc(100vh - 30px));
    background-image: url(../assets/images/20085203.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    position: relative;
}

footer {
    height: 30px;
    background: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 1rem;
    }
}

.wrapper {
    @include width-height(80%, 100%);
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

h1,
.timer {
    text-align: center;
}

.runner {
    @include width-height(200px, 250px);
    background-image: url("../assets/images/Idle.png");
    // background-image: url("../assets/images/Running-boy.png");
    background-size: 300px;
    background-repeat: no-repeat;
}

.countdown {
    font-size: 1.25rem;
    transition: all .5s ease-in;
}

.font-expand {
    font-size: 4rem;
}

.visibility {
    visibility: hidden;
}

.your-time {
    display: none;
}

.title-screen {
    position: absolute;
    @include overlayPosition(0);
    background: rgba(35, 41, 44, 0.7);
    align-items: center;
    justify-content: center;
    h1,
    p {
        color: aliceblue;
    }
}

.countdown {
    text-shadow: 2px 2px black;
}

.timer,
.your-time {
    background: rgba(0,0,0, 0.7);
    padding: 5px 10px;
    border-radius: 2px;
}

.submitTime {
    display: none;
    background: rgba(0,0,0, 0.7);
    padding: 20px;
}

.leaderboard {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0, 0.7);
    padding: 20px;
}

//mobile styles
@media (max-width: 700px) {
    h1 {
        font-size: 4rem;
        text-shadow: 5px 5px black;
    }
}

@media (max-width: 500px) {
    footer {
        display: none;
    }

    main {
        height: 100vh;
    }
}